<div class="text-center">

    <h1>Mise en place de l'environnement </h1>


    <p>Premièrement, il faut Node.js téléchargeable via : <a target="_blank"  href="https://nodejs.org/en/download">Node.js</a></p>
    <img class="img-fluid" src="../../assets/img/node.gif"/>
    <p>Ensuite, il faut installer NPM (package manager) de manière globale via la cmd :</p>
    <p><b>npm install -g npm@latest</b></p>
    <img class="img-fluid" src="../../assets/img/npmlatest.gif"/>
    <p>Enfin, il faut le CLI d'angular :</p>
    <p><b>npm install -g @angular/cli</b></p>
    <img class="img-fluid" src="../../assets/img/angularcli.gif"/>
</div>